/* 01 */
@media (min-width: 0) {
    body
    {
        background-color: #222222;
        /* width: 50%; */
        display: block;
        margin: auto;

    }
}
/* 2 */
@media (min-width: 600px) and (orientation:landscape) {
    body
    {
        background-color: #222222;
        width: 50%;
        display: block;
        margin: auto;

    }

}

.title
{
    text-align: center;
    color: #fff;
    width: 100%;

}
.comment
{
    color: #3c3c3c;
}

.comment-text
{
    color: #7c7c7c;
    text-align: center;
}


.prompt
{
    padding-top: 5%;
    font-size: 1.2em;
}
.prompt-line
{
    font-weight: 1000;
    color: #b93129;
    margin: -2px;
}
.prompt-user
{
    color: #b93129;
    margin: -2px;
}
.prompt-at
{
    color: #d1bf25;
    margin: -2px;
}
.prompt-hash
{
    color: #d1bf25;
    padding-left: 1px;
}
.prompt-host
{
    color: #0dcdcd;
    margin: -2px;
}
.prompt-path
{
    color: #6cba00;
    margin: -2px;
}
.prompt-text
{
    color: #dfcccb;
    font-weight: 700;
}



.output
{
    padding-top: 1%;
    font-size: 1.2em;
}
.output-files
{
    padding: 1%;
    font-weight: 600;
    color: #0d73cc;
}
