/* genral */
    .perfect-center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .vertical-center {
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .horisantal-center
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .horisantal-center-text {
        text-align: center;
    }
:root
{
}
